h2{
    text-align:center
  }

  table {
    display: table;
    width: 90%;
    margin: auto;
    background-color: rgb(159, 220, 228);
  }
  tr {
    background-color: rgb(226, 210, 210);
    border-collapse: none;
  }
  tr:nth-child(odd) {
    background-color: rgb(134, 208, 238);
    border-collapse: none;
  }
  th {
    width: 33.33%;
    padding: 20px 20px;
    background-color: #333;
    color: #fff;
  }
  td {
    width: 33.33%;
    padding: 20px 20px;
    text-align: center;
  }
  @media (max-width: 500px) {
    table {
      width: 80%;
    }
    th {
      display: none;
    }
    td {
      display: block;
      width: 100%;
      min-height: 40px;
      border-bottom: 1px solid #000;
    }
  }
   
  
  button{
  
    position: relative;
  bottom: 100%;
  left: 30%;
  transform: translate(-20%, 20%);
      width: 50px;
      height: 50px;
  
      appearance: none;
      border: none;
      outline: none;
      cursor: pointer;
  
      background-color: #44AAEE;
  
      margin: 5px;
      transition: 0.4s;
  
      color: #FFF;
      font-size: 18px;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
  
   button:hover {
      background-color: #44EEAA;
  }
  
   button.active {
      background-color: #44EEAA;
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
  
  
  